<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AlgoQuiz</title>
    <meta name="description" content="LeetQuiz: DSA Quiz App - 404 Not Found">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/img" href="images/logo-favicon.png">

    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/404.css">
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container container-a">
        <%- include('partials/header.ejs') %>
        <div class="body-container">
            <h1>404 - Page Not Found</h1>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <p>Please check the URL or return to the <a href="/">homepage</a>.</p>
        </div>
    </div>
</body>
</html>
