<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AlgoQuiz</title>
        <meta name="description" content="LeetQuiz: DSA Quiz App">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/img" href="/images/logo-favicon.png">
        
        <link rel="stylesheet" href="/styles/common.css">
        <link rel="stylesheet" href="/styles/colors.css">
        <link rel="stylesheet" href="/styles/account.css">
        <link rel="stylesheet" href="/styles/question-list.css">

        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container container-a">
            <%- include('partials/header.ejs') %>
            <div class="profile-container">
                <div class="profile-buttons">
                    <div id="saved-box">
                        <img src="/images/quiz-ui/bookmark.png" alt="quiz question menu">
                        Saved
                    </div>
                    <div id="completed-box">
                        <img src="/images/quiz-ui/completed.png" alt="quiz question menu">
                        Completed
                    </div>
                    <a href="/auth/logout">
                        <div id="sign-out-box">
                            <img src="/images/quiz-ui/logout.png" alt="quiz question menu">
                            Sign Out
                        </div>
                    </a>
                </div>
                <div class="questions-list">
                    <table>
                        <thead>
                            <tr>
                                <th>Saved</th>
                                <th>Completed</th>
                                <th>Problem</th>
                                <th>Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="saved" value="questionID"></td>
                                <td><input type="checkbox" name="completed" value="questionID"></td>
                                <td>Title</td>
                                <td>Difficulty</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html> 
