<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AlgoQuiz</title>
        <meta name="description" content="AlgoQuiz: DSA Quiz App">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/img" href="images/logo-favicon.png">

        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/colors.css">
        <link rel="stylesheet" href="styles/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container container-a">
            <div class="background-linear"></div>
            <%- include('partials/header.ejs') %>
            <div class="intro-text-block">
                <div class="algoquiz-text">
                    <h2>Welcome to</h2>
                    <h1>AlgoQuiz</h1>
                    <h3>Data Structures and Algorithms</h3>
                    <p>
                        Get ready to ace your next technical interview.
                    </p>
                    <p>
                        Learn key concepts and patterns in a fun and interactive way.
                    </p>
                    <button id="get-started" class="button" href="#">Get Started!</button>
                </div>
                <img id="computer-graphic" src="images/computer_graphic.png" alt="computer-graphic">
            </div>
        </div>
        <div class="container container-b">
            <div class="companies-text-block">
                <h3>Land your dream job</h3>
                <p>Our goal is to prepare you for any technical interview question so you can succeed.</p>
            </div>
            <div class="companies-img-block">
                <img src="images/companies/airwallex.png" alt="airwallex">
                <img src="images/companies/amazon.png" alt="amazon">
                <img src="images/companies/anz.png" alt="anz">
                <img src="images/companies/atlassian.png" alt="atlassian">
                <img src="images/companies/canva.png" alt="canva">
                <img src="images/companies/citadel.png" alt="citadel">
                <img src="images/companies/commbank.png" alt="commbank">
                <img src="images/companies/google.png" alt="google">
                <img src="images/companies/imc.png" alt="imc">
                <img src="images/companies/janestreet.png" alt="janestreet">
                <img src="images/companies/optiver.png" alt="optiver">
                <img src="images/companies/sig.png" alt="sig">
                <img src="images/companies/tiktok.png" alt="tiktok">
            </div>
        </div>
        <div class="container container-c">
            <div class="logo logo-box">
                <img src="images/logo.png" alt="logo">
            </div>
            <p>Ace your interviews.</p>
        </div>
    </body>
</html>