<header>
    <script src="/assets/header.js"></script>
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <h1>LeetQuiz</h1>
    </div>
    <div class="nav-bar">
        <!-- TODO: edit anchors -->
        <ul>
            <li>
                <a href="/">HOME</a>
            </l1>
            <li>
                <a href="/quiz">PRACTICE</a>
            </li>
            <l1>
                <a id="sign-up" class="button" href="/sign-up">SIGN UP</a>
            </li>
        </ul>
    </div>
    <div class="nav-menu">
        <button class="menu-open button">
            <img src="/images/density-medium.png">
        </button>
    </div>
    <div class="nav-overlay">
        <ul>
            <li>
                <button class="menu-close button">
                    <img src="/images/close.png">
                </button>
            </li>
            <li><a href="/">HOME</a></li>
            <li><a href="/quiz">PRACTICE</a></li>
            <li><a id="sign-up" class="button" href="/sign-up">SIGN UP</a></li>
        </ul>
    </div>
</header>