<div class="choose-difficulty">
    <h2>DIFFICULTY:</h2>
    <div class="checkbox-container">
        <input type="checkbox" id="easy" name="difficulty" value="easy" checked> 
        <label for="easy">Easy</label>
    </div>
    <div class="checkbox-container">
        <input type="checkbox" id="medium" name="difficulty" value="medium" checked> 
        <label for="medium">Medium</label>
    </div>
    <div class="checkbox-container">
        <input type="checkbox" id="hard" name="difficulty" value="hard" checked> 
        <label for="hard">Hard</label>
    </div>
</div>
<div class="topics">
    <div class="choose-topics">
        <h2>TOPICS:</h2>
        <div class="checkbox-container">
            <input type="checkbox" id="arrays" name="topics" value="arrays"> 
            <label for="arrays">Arrays</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="two-pointers" name="topics" value="two-pointers"> 
            <label for="two-pointers">Two Pointers</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="sliding-window" name="topics" value="sliding-window"> 
            <label for="sliding-window">Sliding Window</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="stack" name="topics" value="stack"> 
            <label for="stack">Stack</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="binary-search" name="topics" value="binary-search"> 
            <label for="binary-search">Binary Search</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="linked-list" name="topics" value="linked-list"> 
            <label for="linked-list">Linked List</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="trees" name="topics" value="trees"> 
            <label for="trees">Trees</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="heap-priority-queue" name="topics" value="heap-priority-queue"> 
            <label for="heap-priority-queue">Heap</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="backtracking" name="topics" value="backtracking"> 
            <label for="backtracking">Backtracking</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="graphs" name="topics" value="graphs"> 
            <label for="graphs">Graphs</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="dynamic-programming" name="topics" value="dynamic-programming"> 
            <label for="dynamic-programming">DP</label>
        </div>  
        <div class="checkbox-container">
            <input type="checkbox" id="greedy" name="topics" value="greedy"> 
            <label for="greedy">Greedy</label>
        </div>
    </div>
</div>
<div class="choose-set">
    <h2>SET:</h2>
    <select id="set" name="set">
        <option value="all">All</option>
        <option value="custom">Custom</option>
        <option value="gdsc-arrays">GDSC: Arrays</option>
    </select>
</div>
<div class="clear-filters">
    <button id="clear-filters" type="button" name="clear-filters">CLEAR FILTERS</button>
</div>