html, body {
    background: var(--light-grey);
}

.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: var(--dark-grey);
}

button {
    color: white;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: max-content;
}

#saved-box, #completed-box, #sign-out-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    height: max-content;
    border-radius: 5px;
    background-color: var(--quiz-grey);
}