html, body {
    background: var(--light-grey);
}

.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: var(--dark-grey);
}

.quiz-container {
    display: flex;
    flex-direction: col;
    justify-content: center;
    width: 100%;
    height: max-content;
    color: white;
    padding: 55px 0px 55px 0px;
}

.quiz-window {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 70%;
}

.quiz-left {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settings {
    width: 210px;
    background-color: var(--quiz-grey);
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    padding: 20px 20px 25px 20px
}

h2 {
    font-size: 1.5rem;
    color: var(--accent-lime);
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
    margin: 5px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid var(--text-a);
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-lime);
    border: 3px solid var(--accent-dark-lime);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 3px solid var(--text-a);
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
}

select:focus {
    border: 3px solid var(--accent-lime);
    outline: none;
}

#clear-filters {
    width: 100%;
    background: white;
    border: 3px solid var(--text-a);
    border-radius: 5px;
    padding: 10px 20px; 
}

.quiz-right {
    height: max-content;
    width: 100%;
    background-color: var(--quiz-grey);
    border-radius: 5px;
    margin-left: 50px;
}

.question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    padding: 20px 30px;
}

.question-header > h1 {
    font-size: 2rem;
}

.quiz-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.code {
    background-color: var(--background-code);
    border-radius: 4%;
    padding: 4px 10px;
    font-size: 0.9rem;
}

.question-description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    gap: 8px;
}

.question-example {
    margin: 10px 0;
    border-left: 3px solid var(--accent-lime);
    padding-left: 10px;
}

.question-constraints > ul > li {
    margin: 10px 10px 10px 18px;
}

.question-answer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    padding: 0px 10px 10px 10px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    row-gap: 4px;
}

.radio-option {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 2px 5px;
    border: 2px solid transparent;
}

.correct-answer {
    background-color: var(--accent-lime);
    border: 2px solid var(--accent-dark-lime);
}

.wrong-answer {
    background-color: var(--accent-red);
    border: 2px solid var(--accent-dark-red);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 15px;
    min-height: 15px;
    background-color: #fff;
    border: 3px solid var(--text-a);
    border-radius: 50%;
    transition: background-color 0.3s;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: var(--accent-blue);
    border: 3px solid var(--accent-dark-blue);
}

#submit-answer, #next-question {
    width: 100px;
    background: white;
    border: 3px solid var(--text-a);
    border-radius: 5px;
    padding: 5px 10px; 
}

.hidden {
    display: none;
}