* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    /*outline: 1px solid red; TODO: remove later */
}

html {
    font-size: 115%;
}

b {
    font-weight: 700;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    z-index: 1;
    padding: 0px 7%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    height: 46px;
}

.logo > h1 {
    font-size: 2rem;
    color: var(--accent-lime);
    padding-left: 5px;
}

.nav-bar > ul {
    display: flex;
    column-gap: 30px;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 5%;
}

a {
    text-decoration: none;
    color: var(--text-b);
    overflow: hiddenw;
    white-space: nowrap;
}

.button {
    background: transparent;
    border: solid 1px var(--accent-lime);
    border-radius: 4px;
    color: var(--accent-lime);
    cursor: pointer;
}

#sign-up {
    padding: 5px 10px;
}